.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #343434;

    border-radius: 10px;
    padding-bottom: 1rem;
}
.container:active {
    outline: 1px dashed #f0f0f0;
}
.node-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.node-title {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 0.3rem;
    background-color: #82344b;
    color: #ffff;
    border-radius: 10px 10px 0 0;
    font-size: var(--normal-text);
    font-weight: 600;
}
.node-title span {
    max-width: 300px;
}
.node-title span:nth-child(2) {
    font-size: var(--small-text);
    border-top: 3px dashed #f0f0f0;
    font-weight: 500;
}
.output-handle-container,
.input-handle-container {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    justify-content: center;
    width: 100%;
    color: #f0f0f0;
    flex-direction: column;
    position: relative;
}
.handle {
    border: 1px solid black;
    background-color: #f0f0f0;
    transform-origin: left center;
    transition: background-color 0.3s ease-out;
}
.handle:hover {
    background-color: #4445a5;
}
.handle.connected {
    background-color: #6365ef;
    border: none;
}

.output-handle,
.input-handle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 0;
    width: 100%;
    cursor: default;
    border-bottom: 1px solid #696969;
    transition: background-color 0.3s ease-out;
}
.input-handle {
    justify-content: flex-start;
}
.input-handle:first-child {
    border-top: 1px solid #696969;
}
.input-handle span {
    margin-left: 3%;
}
.output-handle span {
    margin-right: 3%;
}
.output-handle:hover,
.input-handle:hover {
    background-color: #4b4b4b;
}
.input-handle-container {
    align-items: flex-start;
    margin-left: 0;
    margin-right: auto;
}
.node-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    gap: 0.5rem;
    height: auto;
}
.node-inputs,
.node-select-options {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 1rem;
    flex-direction: column;
}
.node-select-options {
    align-items: center;
}
