.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #313131;
    gap: 1rem;
    border-radius: 10px;
}
.container:active {
    outline: 1px dashed #f0f0f0;
}
.node-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #6365ef;
    color: #f0f0f0;
    border-radius: 10px 10px 0 0;
    font-size: var(--normal-text);
    font-weight: 600;
}

.output-handle-container,
.input-handle-container {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    justify-content: center;

    color: #f0f0f0;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding-bottom: 1rem;
}
.handle {
    border: 1px solid black;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease-out;
}
.handle:hover {
    background-color: #4445a5;
}
.handle.connected {
    background-color: #6365ef;
    border: none;
}
.input-handle {
    position: relative;
    padding-left: 0.5rem;
}
.output-handle {
    position: relative;
    padding-right: 0.5rem;
}
.input-handle-container {
    align-items: flex-start;
    margin-left: 0;
    margin-right: auto;
}
.node-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    gap: 1.5rem;
    height: auto;
}
.node-inputs,
.node-select-options {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 1rem;
    flex-direction: column;
}
.node-select-options {
    align-items: center;
}
