.input {
    padding: 0.3rem 0.3rem;
    border: none;
    background-color: #656565;
    color: #f0f0f0;
    font-size: var(--normal-text);
    transition: background-color 0.3s ease-out;
    border-radius: var(--border-radius-default);
}
.input:hover {
    background-color: #969696;
}
.label {
    font-size: var(--normal-text);
    color: #f0f0f0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.2rem;
}
.input:focus {
    outline: none;
    border: none;
    background-color: #f0f0f0;
    color: #191919;
}
