:root {
    --border-radius-default: clamp(1rem, 1vw, 3rem);
    --normal-text: clamp(1rem, 0.1vw + 1rem, 1.25rem);
    --small-text: clamp(0.7rem, 0.1vw + 0.7rem, 1.2rem);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #191919;
}
* {
    box-sizing: border-box;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.map {
    background-color: #191919;
}
.react-flow__minimap {
    background-color: #191919;
}
.react-flow__minimap-mask {
    fill: rgba(0, 0, 0, 0.2);
    stroke: #0080ff; /* border color */
    stroke-width: 2;
}
