:root {
    --border-radius-default: clamp(1rem, 1vw, 3rem);
    --normal-text: clamp(1rem, 0.1vw + 1rem, 1.25rem);
    --small-text: clamp(0.7rem, 0.1vw + 0.7rem, 1.2rem);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #343434;
}
* {
    box-sizing: border-box;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.map {
    background-color: #191919;
}
.react-flow__minimap {
    background-color: #191919;
}
.react-flow__minimap-mask {
    fill: rgba(0, 0, 0, 0.2);
    stroke: #0080ff;
    stroke-width: 2;
}
.nodrag {
    resize: none;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.submit button {
    background-color: #f0f0f0;
    font-size: var(--normal-text);
    padding: 1rem;
    width: 10vw;
    border: none;
    border-radius: var(--border-radius-default);
    transition: background-color 0.3s ease-out;
    color: #191919;
}
.submit button:hover {
    background-color: #696969;
    cursor: pointer;
}
.react-flow__controls.react-flow__controls {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #333;
}

.react-flow__controls-button.react-flow__controls-button {
    background-color: #141414;
    border-bottom: 1px solid #333;
    fill: #eee;
    transition: all 0.2s;
}

.react-flow__controls-button:hover.react-flow__controls-button:hover {
    background-color: #8b0000;
    fill: #fff;
}

.react-flow__controls-button:last-child.react-flow__controls-button:last-child {
    border-bottom: none;
}
.react-flow__handle-left.react-flow__handle-left {
    transform: translateX(-50%) translateY(-50%);
}
.react-flow__handle-right.react-flow__handle-right {
    transform: translateX(50%) translateY(-50%);
}
